<!DOCTYPE html>
<html>
<head>
  <title>My Mob ADE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page" data-theme="<%= theme %>">

  <div data-role="header">
    <h1>Options</h1>
  </div>
  
  <div data-role="content">
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">Afficher :</li>
      <li><%= link_to 'Jour', controller: :agenda, action: :day %></li>
      <li><%= link_to 'Semaine', controller: :agenda, action: :week %></li>
      <li><%= link_to 'Mois', controller: :agenda, action: :month %></li>
      <li><%= link_to 'Tout', controller: :agenda, action: :all %></li>
    </ul>
  </div>
  
</div>

</body>
</html>
