<%= render :partial => 'agenda/options' %>

<% if flash.now[:error] %>
  <div class="ui-body ui-body-<%= error_theme %> ui-corner-all">
    <%= flash.now[:error] %>
  </div>
<% else %>
  <% if @agenda_per_day.empty? %>
    <div class="ui-body ui-body-<%= info_theme %> ui-corner-all">
      Aucune activit&eacute;.
    </div>
  <% else %>
    <% @agenda_per_day.each do |date, activities| %>
      <ul data-role="listview" data-inset="true">
        <li data-role="list-divider"><%= date %></li>
        <% last_activity = nil %>
        <% activities.each do |activity| %>
          <% unless last_activity.nil? %>
            <% break_duration = activity.begin_time - last_activity.end_time %>
            <% if break_duration.total_minutes > 15 %>
              <li data-theme="<%= break_theme %>">
                <em>Pause de <%= break_duration.readable_duration %></em>
              </li>
            <% end %>
          <% end %>
          <li>
            <h3><%= activity.name %></h3>
            <span class="ui-li-count"><%= activity.begin_time %> - <%= activity.end_time %></span>
            <p><%= activity.rooms %></p>
            <% unless activity.teachers.blank? %>
              <p>Enseignants : <%= activity.teachers %></p>
            <% end %>
          </li>
          <% last_activity = activity %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
