<!DOCTYPE html>
<html>
<head>
  <title>My Mob ADE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page" data-theme="<%= theme %>">

  <div data-role="header">
    <h1><%= @title %></h1>
    <% if logged_in? %>
      <a href="<%= url_for controller: :logout, action: :logout %>" data-icon="delete" data-iconpos="notext">D&eacute;connexion</a>
      <a href="<%= url_for controller: :options, action: :options %>" data-icon="gear" data-iconpos="notext" data-rel="dialog" data-transition="flip">Options</a>
    <% end %>
  </div>
  
  <div data-role="content">
    <%= yield %>
  </div>
  
</div>

</body>
</html>
